@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root {
    --branco: #004aad;
    --botao-ativo: #000000;
    --botao-inativo: #84b7ed;
}
body {
    background: linear-gradient(to right, #71e98b, #94b9ff);
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 4px black;
    color: rgb(0, 0, 0);
    padding: 20px;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: 'Bubble Boop';
    src: url('fonts.ttf');
}

.botao {
    font-family: 'Bubble Boop', sans-serif;
    background-color: var(--botao-inativo);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 20px;
    align-items: center;
    width: 100%;
    border-bottom: 6px solid var(--botao-ativo);
    border-left: 6px solid var(--botao-ativo);
    border-right: 6px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}
 
.botao.ative{
    background-color: #004bad94;
}

.abas-textos{
    background-color: var(--botao-inativo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
    border-bottom: 6px solid var(--botao-ativo);
    border-left: 6px solid var(--botao-ativo);
    border-right: 6px solid var(--botao-ativo);
}

.aba-conteudo.ative{
    display: block;
}

.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-family: 'Bubble Boop', sans-serif;
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #166d50
  
}

.contador {
    display: flex;
    justify-content: center;
    font-family: 'Questrial' , sans-serif;
    flex-wrap: wrap;

}

.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero{
    font-size: 80px;
    margin: 0;
    color: #166d50;
    font-weight: bold;
}

.contador-digito-texto{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   margin: 0;
}

@media screen and (min-width: 768px){
    .botoes {
        display:flex;
    }
    .botao:first-child {
    border-radius: 40px 0 0 0;
    }
    .botao:last-child {
    border-radius: 0 40px 0 0;
}
}